.dp{
    display: flex;
    align-items: center;
    gap: 12px;
}
.start{
    width: 80%;
}

::ng-deep .btnpickerenabled{
  
    height: 35px;
  padding-top: 4px;
  background: #d05959 !important;
}

